<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h4>Post a Job</h4>

            <form autocomplete="off"
                  action="#"
                  th:action="@{/processjob}"
                  th:object="${job}"
                  method="post">
                <input type="hidden" th:field="*{id}"/>

                <label class="mr-sm-2 mb-0">Company Name </label>
                <input type="text" id="positionTitle" class="form-control mr-sm-2 mb-2 mb-sm-0"
                       th:field="*{companyName}"/>
                <span th:if="${#fields.hasErrors('companyName')}"
                      th:errors="*{companyName}">Company name error</span>

                <label class="mr-sm-2 mb-0">Job Title </label>
                <input type="text" id="positionTitle" class="form-control mr-sm-2 mb-2 mb-sm-0"
                       th:field="*{positionTitle}"/>
                <span th:if="${#fields.hasErrors('positionTitle')}"
                      th:errors="*{positionTitle}">Job Title error</span>

                <label class="mr-sm-2 mb-0">City the job is located in </label>
                <input type="text" id="location" class="form-control mr-sm-2 mb-2 mb-sm-0"
                       th:field="*{location}"/>
                <span th:if="${#fields.hasErrors('location')}"
                      th:errors="*{location}">location error</span>

                <label class="mr-sm-2 mb-0">Education requirement </label>
                <input type="text" id="education" class="form-control mr-sm-2 mb-2 mb-sm-0"
                       th:field="*{education}"/>
                <span th:if="${#fields.hasErrors('education')}"
                      th:errors="*{education}">education error</span>

                <label class="mr-sm-2 mb-0">Start Date</label>
                <input type="text" id="startDate" class="form-control mr-sm-2 mb-2 mb-sm-0"
                       th:field="*{startDate}"/><br/>
                <span th:if="${#fields.hasErrors('startDate')}"
                      th:errors="*{startDate}">Start Date error</span>

                <label class="mr-sm-2 mb-0">End Date </label>
                <input type="text" id="email" class="form-control mr-sm-2 mb-2 mb-sm-0"
                       th:field="*{endDate}"/><br/>
                <span th:if="${#fields.hasErrors('endDate')}"
                      th:errors="*{endDate}">End date error</span>

                <label class="mr-sm-2 mb-0">Type Of Job </label>
                <input type="text" id="typeOfJob" class="form-control mr-sm-2 mb-2 mb-sm-0"
                       th:field="*{typeOfJob}"/><br/>
                <span th:if="${#fields.hasErrors('typeOfJob')}"
                      th:errors="*{typeOfJob}">Type of Job error</span>

                <label class="mr-sm-2 mb-0">Salary </label>
                <input type="text" id="salary" class="form-control mr-sm-2 mb-2 mb-sm-0"
                       th:field="*{salary}"/><br/>
                <span th:if="${#fields.hasErrors('salary')}"
                      th:errors="*{salary}">Salary error</span>

                <label class="mr-sm-2 mb-0">Key Words(Sep with comma) </label>
                <input type="text" id="keyWord" class="form-control mr-sm-2 mb-2 mb-sm-0"
                       th:field="*{keyWord}"/><br/>
                <span th:if="${#fields.hasErrors('keyWord')}"
                      th:errors="*{keyWord}">keyword error</span>

                <label class="mr-sm-2 mb-0">Job Description </label>
                <textarea rows="3" id="description" class="form-control mr-sm-2 mb-2 mb-sm-0"
                       th:field="*{description}"/><br/>
                <span th:if="${#fields.hasErrors('description')}"
                      th:errors="*{description}">description error</span>

                <label class="mr-sm-2 mb-0">Job question one </label>
                <textarea rows="3" id="description" class="form-control mr-sm-2 mb-2 mb-sm-0"
                          th:field="*{questionOne}"/><br/>
                <span th:if="${#fields.hasErrors('questionOne')}"
                      th:errors="*{questionOne}">Question error</span>

                <label class="mr-sm-2 mb-0">Job question two </label>
                <textarea rows="3" id="description" class="form-control mr-sm-2 mb-2 mb-sm-0"
                          th:field="*{questionTwo}"/><br/>
                <span th:if="${#fields.hasErrors('questionTwo')}"
                      th:errors="*{questionTwo}">Question error</span>

                <label class="mr-sm-2 mb-0">Job question Three </label>
                <textarea rows="3" id="description" class="form-control mr-sm-2 mb-2 mb-sm-0"
                          th:field="*{questionThree}"/><br/>
                <span th:if="${#fields.hasErrors('questionThree')}"
                      th:errors="*{questionThree}">Question error</span>

                <input type="submit"  value="Post"/>

            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>